packages:
  yum:
    php: []
    mod_auth_openidc: []
    mod_ssl: []

Resources:
  sslSecurityGroupIngress: 
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0
  sshSecurityGroupIngress: 
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 22
      FromPort: 22
      CidrIp: 10.203.44.1/0

files:
  "/etc/pki/tls/certs/go.cnb.crt":
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIFkzCCA3ugAwIBAgIIffRA00f3/fQwDQYJKoZIhvcNAQELBQAwXTEUMBIGA1UE
      CgwLQmF5ZXIgR3JvdXAxIDAeBgNVBAsMF0JheWVyIEJ1c2luZXNzIFNlcnZpY2Vz
      MSMwIQYDVQQDDBpCYXllciBHcm91cCBEZXZpY2UgQ0EgMjAxNjAeFw0yMTAxMjgx
      NjU5MjRaFw0yMzA1MDIxNjU5MjRaMFsxIDAeBgNVBAoMF0JheWVyIEJ1c2luZXNz
      IFNlcnZpY2VzMSAwHgYDVQQLDBdCYXllciBCdXNpbmVzcyBTZXJ2aWNlczEVMBMG
      A1UEAwwMZ28uYmF5ZXIuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKC
      AQEA4j/jR2gE7iWmiUTfT+r4bc7cyX+E1o+7Pw5FaycZj1pfE20HoFbPbu2IdI2m
      MWhk8czflfHGj4g2GW5rxc0ImMhKn8Yk9/WJTmsQjmuS+nWszJ8n5dN5rS+33OZb
      PasyRiOBwWOrrvDdOd2XyXbGnJO6febuYaOBoqiDeCsqd2IkwBWDo8uInQIQcHZC
      k0qlPzjIn1jeM826gFeCQ8vjcuTYm5GWt9PozpYqFiaYyJmg+a9h4xc73+dr13nB
      IthBpwZOvoAI/2WYUZDZsMAUISxuzTCh76eJYp4V2urRSLU0Kq8miH3hnL5ZE5pN
      S2wd07gCXc0J8RwTHDle7xeKMwIDAQABo4IBVzCCAVMwWgYIKwYBBQUHAQEETjBM
      MEoGCCsGAQUFBzAChj5odHRwOi8vcGtpLXNlcnZpY2VzLmJheWVyLmJpei9ncm91
      cHBraS9iYXllcl9kZXZpY2VjYV8yMDE2LmNlcjAdBgNVHQ4EFgQUnmHTV6jKW0fg
      Vu53VoijJR8uZE8wCQYDVR0TBAIwADAfBgNVHSMEGDAWgBSoDDBU59i6pR/uF6Ww
      BZ7HaeY1tTBPBgNVHR8ESDBGMESgQqBAhj5odHRwOi8vcGtpLXNlcnZpY2VzLmJh
      eWVyLmJpei9ncm91cHBraS9iYXllcl9kZXZpY2VjYV8yMDE2LmNybDAOBgNVHQ8B
      Af8EBAMCBaAwKQYDVR0lBCIwIAYIKwYBBQUHAwEGCCsGAQUFBwMCBgorBgEEAYI3
      FAICMB4GA1UdEQQXMBWCC3Rlc3QuZ28uY25iggZnby5jbmIwDQYJKoZIhvcNAQEL
      BQADggIBADHaEuvqDYOKq8O5LzEAOv0FcP+I7hMRFJQerpOCaO36AWei9l8QmcAA
      JCoHAHQ8w/U10dkHW1p8VCDAVL8hd01x0fEX2W+kg0S0Vb1MSXvml4GE/YegCnM8
      2c2yCS30Rs/7lBgzoYmfl20c5oWNbadfxUhEgDUluCdcHBG7MWXsIbcibsMmXKXc
      P46r5EGtgdhg6j6+Lv5ESsrpWmIEyrkNsGE25bjLto/zJes+KJGfcV8uz6sZYtPl
      uMgTov7ObRfK4FIt2qKudl39eOHhU6ZSS9CWRNgzkrsE6Fspn3s4AJ7GWxL551Xj
      5UVYOQhxhnXyU+AqLokjDS8X3LpIp6PkpYnZc0BwmbY0uGDO7qTD+067Jhpeh+Z+
      g8+wklIpVScT9szhdhD7gebKe781NoeAmN1T1VKvGvw4aOel7XG38M4/GxuYJgKY
      BLX2Xo347tg6JPWlSZIZacSVvDvk7Vm1612QYsUfg3vnbQ5QBQEGIHsuF0mBQEH5
      EPg5EzfOPvOGtK8+2DyQkv7NNYrdtmk3no52qGXD1q1JKsRSa09pxEe+hsXeuQck
      UwQZ2120whvYcvtTP1JkN9pgR/5K0gnCzjX8L5PKFZx0S8LcomvaOmOc0RkNlpY9
      Pw9ry6Tzwp4wdY8iKWigfQfV6SXEjn7K3eRhxm8ROpr9jkLi7g4Y
      -----END CERTIFICATE-----
      -----BEGIN CERTIFICATE-----
      MIIFMTCCBBmgAwIBAgIIOuPM/qnw0PEwDQYJKoZIhvcNAQELBQAwVjEUMBIGA1UE
      ChMLQmF5ZXIgR3JvdXAxIDAeBgNVBAsTF0JheWVyIEJ1c2luZXNzIFNlcnZpY2Vz
      MRwwGgYDVQQDExNCYXllciBHcm91cCBSb290IENBMB4XDTE2MDEyNjExNDc1NFoX
      DTQwMDkwMTEwMDAwMFowXTEUMBIGA1UECgwLQmF5ZXIgR3JvdXAxIDAeBgNVBAsM
      F0JheWVyIEJ1c2luZXNzIFNlcnZpY2VzMSMwIQYDVQQDDBpCYXllciBHcm91cCBE
      ZXZpY2UgQ0EgMjAxNjCCAiIwDQYJKoZIhvcNAQEBBQADggIPADCCAgoCggIBAPB+
      0KpgeXP4AvVOEmv7moaVybMMzslIdEMs6jAJNFcgsEi6xBx6t76i5rpV8bG0ah32
      557BPjq+Pb26uhvl0vHFrq4FsAGr0lw97WrIWX8NJMVK8RAOAu8lZJgCZAYEB8sk
      X3kGvX/uousTWbYYZ2cfnQJQw075UGVsVsMSDYMVoJehN7wvM1HibTLbHPRd9VCN
      +QJy8y5BvDLaM5ZkC7qYDgZkW0BWnKpUoqGS9exN1NOLYmuwqlEy5cBSatRqvhNP
      HQU9/dLGqBbUsa7SijpbDV61jDFUNmuP4v294XmdnYAvOPz58Oj0sk1991P+62mG
      ncdT1gDUiZQ1x1NG2lNAemsujAtNMe2y8Uj0cgLgAf0PFXw1mKs9FJ7cU10FBrY1
      YNZNL8ltq9cTJT27Jq/yrkgULoC+Q47nqn3Lxs4xR8pGvovybtiYspXpemY6LTFw
      bjPB/vayAfP1iVjRmgKCgOC3LKK6Kl/o1JtMIxr+tNlj6RrRgfLAEwf9VUFyMFiA
      0dx6mR9HysFjbjSGiMdhF5M43JrRkISiMNsB2lOyRvCuAxr3vC+3qHTI/VbkUHnd
      jDvuwv1XE/ZJixzaJHzJyQbB18pujIPUKwlYGSz8w8Q1N0gohUd4pS3D9tNCxCyq
      03n1PWR/NIY3YTeYFUkdkagvWexk/CmE14SZfDITAgMBAAGjgfswgfgwSwYIKwYB
      BQUHAQEEPzA9MDsGCCsGAQUFBzAChi9odHRwOi8vcGtpLmJheWVyLmluZm8vZ3Jv
      dXBwa2kvYmF5ZXJfcm9vdGNhLmNlcjAdBgNVHQ4EFgQUqAwwVOfYuqUf7helsAWe
      x2nmNbUwEgYDVR0TAQH/BAgwBgEB/wIBADAfBgNVHSMEGDAWgBR5m+9NQJ4+N2od
      spINSy5teXnb+jBIBgNVHR8EQTA/MD2gO6A5hjdodHRwOi8vcGtpLXNlcnZpY2Vz
      LmJheWVyLmJpei9ncm91cHBraS9iYXllcl9yb290Y2EuY3JsMAsGA1UdDwQEAwIB
      xjANBgkqhkiG9w0BAQsFAAOCAQEAiFG7N5rsJoCs/jY+TJb6BzgjQlizewqmk7u2
      om/ty25p0HeHj7wpEuYq8mJ2dOEwC7OYJXIUYQ2IymGGBtq7o2ApS9fA1hPC0dnk
      ffIpSBte+O1nKZ+s3MulIIwZvX+OxeoA8lKtX6XKZkbS9f8IC400bniMrJjYlCC9
      qGr+SigtqPk3dI1Rsw87UlFAh9z/LKedS6wka5etw3M6xsfTfsgYHvbaV4Zy1zt9
      PI4jyqgLrA5zmIFtrCochUN5N2QTA2t/bXU6YFCkQpv58GXBAMqL6GlnQc3C9gr1
      HkQX6ErKhtlR92TujrOSUwejoZBbavNORAo+KYK/Us83qlVPFA==
      -----END CERTIFICATE-----
      -----BEGIN CERTIFICATE-----
      MIIDbDCCAlSgAwIBAgIBZzANBgkqhkiG9w0BAQUFADBWMRQwEgYDVQQKEwtCYXll
      ciBHcm91cDEgMB4GA1UECxMXQmF5ZXIgQnVzaW5lc3MgU2VydmljZXMxHDAaBgNV
      BAMTE0JheWVyIEdyb3VwIFJvb3QgQ0EwHhcNMTAwODE4MTAxNjI1WhcNNDIwODE4
      MTAxNjI1WjBWMRQwEgYDVQQKEwtCYXllciBHcm91cDEgMB4GA1UECxMXQmF5ZXIg
      QnVzaW5lc3MgU2VydmljZXMxHDAaBgNVBAMTE0JheWVyIEdyb3VwIFJvb3QgQ0Ew
      ggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDH/ie4j7SAETVyiyNbIoTE
      RnyprSx/XVgIWGe65V/LrRBeu80dll95Qr559zv9NDwzhIjYzoe5z7PMIHNTEPyo
      AHKFzDLv7d77TE63XAQGGwAEjI9xJa15aHD653GOfGEqAVLgPVtpF1UhdtVNpUVL
      FErOuvmosE9OAvtM5dfmH0yPPLKiWH+Gr4o9iVhw4lDdq7gW6HNeMAYwZehPSx50
      oyu9cfoALmNyOg8xWgSbL9XNYXgcyYUjFjoXtVxGiYKqDtnQ11yHAStE3fxPcN9Z
      LDX2Du0H4AY3e9NoehxNOs4YVLGj10ZBW041RxhG3sOQRoXomud9XgdAQmiv3eux
      AgMBAAGjRTBDMBIGA1UdEwEB/wQIMAYBAf8CAQIwDgYDVR0PAQH/BAQDAgHGMB0G
      A1UdDgQWBBR5m+9NQJ4+N2odspINSy5teXnb+jANBgkqhkiG9w0BAQUFAAOCAQEA
      nfoR1n3t3dSXbL9dT5Cjonn1cLrGFY/QPoF4xhhC/MKJRB6Uug3OOT1QYC+jDqFm
      UfmmDWQHYSD1cyasLjIUbQIExIhadKDsceXfbFl74aExay2hpuh3NXbG9PJE8uvD
      nGjabxDSMUOm3SrPomyE6q398zDhQ0N/h091+J5gREx2u8zJzdaFQTrOPLGlLjy3
      scz9D12xV6FfXxzbK0KU3Q0Ilxrpjd3ELUDvNRKcyj78/OSXAzZ9Hc0KjscUmRGt
      K9XxQ+a8d767x50JjvlwSlYwmo+M6+6m6cZnbVE7wfDnL1bhn+LWx4zRLzwAy78+
      CgRtJlFrFuA3Sd7YIowF9g==
      -----END CERTIFICATE-----
  "/etc/pki/tls/certs/shorturl.key":
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN PRIVATE KEY-----
      MIIEvwIBADANBgkqhkiG9w0BAQEFAASCBKkwggSlAgEAAoIBAQDiP+NHaATuJaaJ
      RN9P6vhtztzJf4TWj7s/DkVrJxmPWl8TbQegVs9u7Yh0jaYxaGTxzN+V8caPiDYZ
      bmvFzQiYyEqfxiT39YlOaxCOa5L6dazMnyfl03mtL7fc5ls9qzJGI4HBY6uu8N05
      3ZfJdsack7p95u5ho4GiqIN4Kyp3YiTAFYOjy4idAhBwdkKTSqU/OMifWN4zzbqA
      V4JDy+Ny5NibkZa30+jOlioWJpjImaD5r2HjFzvf52vXecEi2EGnBk6+gAj/ZZhR
      kNmwwBQhLG7NMKHvp4linhXa6tFItTQqryaIfeGcvlkTmk1LbB3TuAJdzQnxHBMc
      OV7vF4ozAgMBAAECggEBAIg0agEs7/rmk7GD0uRr0o9Yv7ZWnIQHF3TIhKYTbeHN
      R/uL4dF3MX3YZhO0yt5nuI2RBvFgEmeKWvdIcH0uCATiX3p8cPkNylF5RwhWXq+F
      dDfjgMNtYo0OcyP7UeZ4T9XFvnHMLSkuPCB/9McGSF8u2FC/W7dQFdT0meEYK4Ke
      YtEytGrzDjlLKsNtlodCSXlvHqLIWJIUu1BqLASvOmgn9L366DdnBxoqEa2QpxdY
      MhPVJfYOZbeRyQh12lBTQB7Zx1ZtFjHZo3LmhPTxQfLFUm+HQH9+GUoD2Iw+L04g
      SRI2otU3qVODlxlFPo+u6k8kmIO5WbL9U1BDzm/0JbECgYEA/a3mUBv95UXZYmHq
      H4YVsQfv9WzzZ4MPnuV0UBdRvb4R+s8k9PibMzW5aPiswyVroSS76G7ywS4p/yfD
      y2+AFHS+tDAxf7oHUVyfZHmdBAEIFf04w3RayUPmsgHH2l/LS8atUJ0XJwip1O6J
      G7IFx2glO4kTHwpOb0krK4W40e0CgYEA5FG/33eB5VcFJew7y7W/phu+Pd6cDLdg
      4k2z6t8tXhHuq6sTS8IoxSl1fw0IH+SC36KoHhY5gPMR8NS6kxlfn15dGwqMEdy8
      FJodzTrVhNDX6q7QTTXyNDMikIcka72wg93TUZsH2XTWldcL38xdR5LwqyK7kcW7
      G0tslDj8yJ8CgYBWLdWoMVo3oVsQSSM4QlzsHz4tqi2mZKfR2zGAY+upAgEpq2Vq
      s2pGI2Ixfwlx4iyGOex8MfTWG9C4ldG2MtLYIDEJFbY7Jf+GbGjZwVbOHWuZzMST
      4dtVtHOS1XgHf7OYso3+bN+IqzDG3aJGflvoOkEr0I1mZiHvPHQl/O+koQKBgQCV
      8ZoxCCsmkp+u6BXdEt9qF44405loQIZAGQevmCITRXOZCiEB/+EGmtOvPL+5MjlA
      5XHDUJUzOm7t2sctE9zYrQA4YhTbJjvey9gGkDzpnL4wQd5K1sLZxTtN73Lbzxe9
      glDlpwrgpPrILRJ/R5d7CeVEfurwMQtQQZhtP3/DwQKBgQCSTdQmpnpByc9/XG+r
      MeWqvvpoS4+1mgX58freLAZosycTwjxiDDsBQSyOVZX085dwNy9uogKFSkkDvjs4
      fTSPLsoSmLv+N/fhRkPS3P+h01eDhF4eHPLZepjLzBcDbzM4rmWoylkfMs8PqZxf
      4ZprvMStzH1YajOXV557c+lKpQ==
      -----END PRIVATE KEY-----
  "/etc/pki/tls/certs/testgobayer.key":
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN PRIVATE KEY-----
      MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQDBaPSbSVykTLbd
      LkO9wjKhoItLOGJcdKFdoMDfoc3FyMWu7pYVKNomA3e+BrabDQJW4hjqzb0g4d5/
      cHgR9RBbkfzYSnFf5yopd/1rulSP80KRaUb9lOc4KnP7LMqWyXUC/lTgTD4LAgjS
      Cbc3lpboUZjZmjkHK636Hf1PWRSJdJ0jqqb/PuPFrUCH7UJcw45nJCtt0QJ0LnDt
      f1HocXcH1M4nJQnOi5HIOnnuod6CchTrrSB/z3VmDMo5ig15OHja4Z1W7Q1YuqxY
      NcECt/7FM2ZPIQoQGiIWAP1NsfB1UVzCQGfc9B0OFIo8FDFnMT48MQ0UOau5PXVY
      Hb1+oqP7AgMBAAECggEBAJI1jIyDpgQSdj64Rb+CuhHTMtn3Uuw/wujrqEKmp873
      2vFGLbDrRBZukqvVmV+XMwiJPXrrcykTdsbyN+KjVu1SbEj55cExGH9m1O4GWvzD
      UbRpWKBEW5LrDOh5UOEyhEFyEKnLGS/rJs3ZSGc+cPBJFvqRCsFv9MJav26nkc3i
      R5BoqedIRmoPcfoQxDr63c9PvC2uWB6jAXXRNPxGQQTc1QnR6IjcQ61MB/54pquK
      Uq1taBXz8/AbFnWpQzWe/2P/zXLU9qcymSmql2GrCKKnAgcDpIX2rSGAS1qG3vzT
      0COfpQ9YG5l3ppFKvKsq5xwKfYGIkzbYNg1irMYI77kCgYEA8SVeKdmReoPvxLtG
      3QuAyFu41wyxuBnP7ONL3CgMm//qa8RMzgNLRg9vMOiszwQClA/XIZSMMEf6NFKJ
      bRODgwFvb4zzjOs+opg+4joiGNQrBqG8xJgpIKFLVKor7tEwca0D20trsLMUUc3j
      Hxeuz/CPFOQ/G790CBecVaM8AW0CgYEAzVLWsJ+WPi0Gha0wJGhza0K5+OguODdU
      XzwOYDOjLmIEbXthAh5YrVqOQOxy0Iu0fWnaAhBg93QnQGV3dT2/ZJaaDACZtYZ4
      0SmEPtCs3sFrJZ+WKH4kHT/fW+lY2Ot1Qgo8kkdAzPQum0EEqM59viPGVroWiK6/
      Apo7DEJSwgcCgYA75FEHyd6k9CHX1b+a5OF+YbF9z8xP8jE/H5DWxCelkyEQ1PdS
      b2UBqJGwLwnEfLV7Opfu4isTTr0ow5sYOTF/lxqrNPHEfSTYU0HDBDc1vXRWOFNe
      7H/Cd+zywTUaImCKyzLbA1di0odobd9L+KDVSmTvBmVaKenSnLKaXmln3QKBgQDC
      U7PkKLafFChHHpog60bJ7rZrEPylsiBFnmaQwG6iOJyuLgarZaNSNxHJ+r/UB1WF
      GUj/iRbtPV7lAOOl8BIUFsGnuG3CM4pnlB6ZARGMJo3NZxRMMM7nbAtvRxQTAg7R
      uTSI0a1QDY+K22eYiQ7ThbJzZN5s8M7RnL1kJeWDwwKBgFKJyc7JdyRqhGuiB1zE
      jR4K/9oCc3wwylxiUPD6vd7AGMiKM64GbnGzI8dalAuNUF5MXMFvjn733yP6uEcC
      Mbo8EEu6l4ZM821gAotlyyw4SDrgsZrq0CkvyRcFhSru4oigWqDNL5HjwHXcrXln
      ookLbKLrEgt5Yaj4Nb28WhPd
      -----END PRIVATE KEY-----
  "/etc/pki/tls/certs/test_go_bayer_com.crt":
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIGyDCCBbCgAwIBAgIQQQp48iKuzK+QBOZBZw6SqzANBgkqhkiG9w0BAQsFADCB
      hjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkRFMRMwEQYDVQQHEwpXaWxtaW5ndG9u
      MSQwIgYDVQQKExtDb3Jwb3JhdGlvbiBTZXJ2aWNlIENvbXBhbnkxLzAtBgNVBAMT
      JlRydXN0ZWQgU2VjdXJlIENlcnRpZmljYXRlIEF1dGhvcml0eSA1MB4XDTIyMDIx
      MTAwMDAwMFoXDTIzMDIxMTIzNTk1OVowWjELMAkGA1UEBhMCREUxHDAaBgNVBAgT
      E05vcmRyaGVpbi1XZXN0ZmFsZW4xETAPBgNVBAoTCEJheWVyIEFHMRowGAYDVQQD
      ExF0ZXN0LmdvLmJheWVyLmNvbTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoC
      ggEBAMFo9JtJXKRMtt0uQ73CMqGgi0s4Ylx0oV2gwN+hzcXIxa7ulhUo2iYDd74G
      tpsNAlbiGOrNvSDh3n9weBH1EFuR/NhKcV/nKil3/Wu6VI/zQpFpRv2U5zgqc/ss
      ypbJdQL+VOBMPgsCCNIJtzeWluhRmNmaOQcrrfod/U9ZFIl0nSOqpv8+48WtQIft
      QlzDjmckK23RAnQucO1/UehxdwfUziclCc6Lkcg6ee6h3oJyFOutIH/PdWYMyjmK
      DXk4eNrhnVbtDVi6rFg1wQK3/sUzZk8hChAaIhYA/U2x8HVRXMJAZ9z0HQ4UijwU
      MWcxPjwxDRQ5q7k9dVgdvX6io/sCAwEAAaOCA1swggNXMB8GA1UdIwQYMBaAFPK7
      Ve78j8/QPxRoGpV+eQ6rFzD0MB0GA1UdDgQWBBRbhCadO5Hu1S2lQjNFFzrCuU9O
      lzAOBgNVHQ8BAf8EBAMCBaAwDAYDVR0TAQH/BAIwADAdBgNVHSUEFjAUBggrBgEF
      BQcDAQYIKwYBBQUHAwIwSwYDVR0gBEQwQjA2BgsrBgEEAbIxAQICCDAnMCUGCCsG
      AQUFBwIBFhlodHRwczovL2Nwcy51c2VydHJ1c3QuY29tMAgGBmeBDAECAjBQBgNV
      HR8ESTBHMEWgQ6BBhj9odHRwOi8vY3JsLnVzZXJ0cnVzdC5jb20vVHJ1c3RlZFNl
      Y3VyZUNlcnRpZmljYXRlQXV0aG9yaXR5NS5jcmwwgYIGCCsGAQUFBwEBBHYwdDBL
      BggrBgEFBQcwAoY/aHR0cDovL2NydC51c2VydHJ1c3QuY29tL1RydXN0ZWRTZWN1
      cmVDZXJ0aWZpY2F0ZUF1dGhvcml0eTUuY3J0MCUGCCsGAQUFBzABhhlodHRwOi8v
      b2NzcC51c2VydHJ1c3QuY29tMDMGA1UdEQQsMCqCEXRlc3QuZ28uYmF5ZXIuY29t
      ghV3d3cudGVzdC5nby5iYXllci5jb20wggF9BgorBgEEAdZ5AgQCBIIBbQSCAWkB
      ZwB2AK33vvp8/xDIi509nB4+GGq0Zyldz7EMJMqFhjTr3IKKAAABfujHzJYAAAQD
      AEcwRQIgIwN9CKICEK1z+NrcdOE+rzQKPNIAVmk47QJenfZ81yMCIQCybba8Wfp3
      tGADQ2H0d3p/Kgs9C6oURjlS7FxqN8rZXAB2AHoyjFTYty22IOo44FIe6YQWcDIT
      hU070ivBOlejUutSAAABfujHzKIAAAQDAEcwRQIhAIjLndq02hJtaLDOkjQqxCHV
      8MWTqFyk55E9nlVLyo5FAiB2jdjaMj6yIqDu0pZXuj8omRKwpZpaKKt51pSRgnQh
      9gB1AOg+0No+9QY1MudXKLyJa8kD08vREWvs62nhd31tBr1uAAABfujHzHcAAAQD
      AEYwRAIgSG+ksGV1Em1jS4sGvEGp7MThdyzXi/QAJ4oTLIkX9k8CICLtgop3zsAs
      INBSCQg2RO4IdsAh/1L00PJLsqCzr68FMA0GCSqGSIb3DQEBCwUAA4IBAQCFkCA5
      fO0IPbMWtxKgGec8Rq2ia8qSo6U+/nu4ve498X4qzoRiq0Jec1lrI4iFT1XZw96c
      yJ1GM5eoQoPUgaiqDtIQHc2WUDgsbM2Qb96fcWvtK+tD6yQpYEyWMmM32DVB59JS
      g7VJowUykOts6goJn9wo+FEHL0q/6NVpw5ZcB8tWn/D7Lj+PKG+jnF5te52y+0lo
      myjtS9WRbqyIJM8yaNN7aMjiARUcp72LmfjrTmUP0gLUISdWhZ5peryiFenqXdO7
      UQxLqulSGvw/wcnv7vSdlZtJeo3H8Wb0Laor80RGXxGrcl1uYL1dOL1T3GuBM4kb
      hxagNoTzw2k722Cp
      -----END CERTIFICATE-----
  "/etc/pki/tls/certs/csrtestgobayer.key":
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN PRIVATE KEY-----
      MIIEvwIBADANBgkqhkiG9w0BAQEFAASCBKkwggSlAgEAAoIBAQDIdeyZIxohjYhQ
      tbw2j2dydqeZ/vxN+noIQeLfx7eHS5LTGvxqHMkNagvappexDGOSx1dofAK03bH+
      duJrco3N7dxOniesCGjFfdyh1i4nuqjHydbgDxdo0lV7ZTJuZEBFkXjzFY5UTn22
      TTCYNxKx9H4loWiygJqEK5cGMPYMDzV44SYlJQI3uJXapGQzn6MwTjVtgJvAKmsi
      3QDBV9iuE269568XiPA1YyVxX5kzHO9MOFfZg8ihjYb8QNx5OHVkkZXmobv0penB
      sz4Zw36QyKW7/QT/dB7c1T9bNhlVYbgi2x4fGx82tTRkrBUesKQpllQuxO2h4wo4
      4XB+5X2VAgMBAAECggEAHF6sFGQmX5dDMoD12RbkgguO3rl6haKsQJzqedcu/yPP
      7LaGAJKAVbirYs9u6myhbvVtRmk+jNBPT38Nvj0hGoLOSgYSAUPTaBfO8Mx6Db9a
      AaRsF5urKXeTB3qj74Gaov3aizSCxyWwnus/tFse9zZt3+9+/Lw8ofX1Urf9KmmA
      JP3Eb7N1qLyJE7822XWCpLU4pIgJJwgWfhpu1x6+2tcT/gp5w7iU+ggY/DSWLiaO
      YcKOq3kcWdz8Fd6WC/x5I/Xo5nkzzwiJSzxjss6yRGbEx9YrS8tjWoOWC7bUAegS
      TP8l/lzkQraRQLkiGfOiF/ePQwXPdgvf6/loV4w/YQKBgQD7X4Gg7ItkRWTkyzM9
      aj+z3YAjpCVchTWIOmtV0dlUt0PsmChQ/BhkgMD8hiMV/fyNpZKy5+y9DjZGnmKG
      S81AbCrtIBq917EU5DulCr6Dk+UgeCe7OOc7E3HrD3KtpoFUOUpa5+XoO7K8N6Df
      nozrY1U9w7niYcQepreJOk4gfQKBgQDMJoOAGhqPLLKk/airHX4uzMchxj8TNGiT
      Wz0sCcEXCLm8WtbOaRl5ALMwchRXofb+I+4V1M7jFeJ5AhONxx1lXuHm5RtCAViE
      fz7vR2zXWibct1FEwNFrT4fpsTp4xfn4g8KjUoItTa37xRZka4djVSCDEUhOE55a
      8gpt71C0+QKBgQDUBxABG+TLdBkRPzB+OhN3dHr0FS2KZ7XqrVQB9Fp7sYVymDlR
      bgJpK40cs0v+7dhL5f/iNewi30z6rffuzRtYnqRqlOzZeoicVZLVuEVQGLxocdEZ
      g3rPAqzRF5ukS1DFKPnFydrL0ycEyWtBk6vLlGK/EUvGXq6dKAShlHN3xQKBgQCn
      J/3SPQ10H9giaiPaACsabMe76tQoiGf8B9/dmBsHHjjedc6eccXOovkVeMMZQd+4
      FXlTXM0NeRTXmhCirN9v6jGz2fHoqKtuybWhPG1tIz7gyCT905dlc1hIy7mhvBDC
      IDiVe/Bk4c7McIK2NKlFdyVIzDTU4RFvS/GoNCR0GQKBgQCfe7zjttR3zT+zmilA
      EiuuL7//tMcPIzoZTgC1cJ5HXJvCC+AnDyY44Mpr7nuGR4+J43VJ8H52NVhq7kjV
      sKBCEKOibNEC8BHxybTKbtcCuwSQTWnnRrenxopkbkH7GSaaCVZnFHO5rbWb9f3P
      bb+gJGYK6vrkQ4vhsBzx76H9Ww==
      -----END PRIVATE KEY-----
  "/etc/pki/tls/certs/805844049.crt":
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIG5DCCBcygAwIBAgIQKvhShr+hqQZVSl63dcvEvzANBgkqhkiG9w0BAQsFADCB
      hjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkRFMRMwEQYDVQQHEwpXaWxtaW5ndG9u
      MSQwIgYDVQQKExtDb3Jwb3JhdGlvbiBTZXJ2aWNlIENvbXBhbnkxLzAtBgNVBAMT
      JlRydXN0ZWQgU2VjdXJlIENlcnRpZmljYXRlIEF1dGhvcml0eSA1MB4XDTIyMDIy
      MzAwMDAwMFoXDTIzMDIyMzIzNTk1OVowVTELMAkGA1UEBhMCREUxHDAaBgNVBAgT
      E05vcmRyaGVpbi1XZXN0ZmFsZW4xETAPBgNVBAoTCEJheWVyIEFHMRUwEwYDVQQD
      Ewxnby5iYXllci5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDI
      deyZIxohjYhQtbw2j2dydqeZ/vxN+noIQeLfx7eHS5LTGvxqHMkNagvappexDGOS
      x1dofAK03bH+duJrco3N7dxOniesCGjFfdyh1i4nuqjHydbgDxdo0lV7ZTJuZEBF
      kXjzFY5UTn22TTCYNxKx9H4loWiygJqEK5cGMPYMDzV44SYlJQI3uJXapGQzn6Mw
      TjVtgJvAKmsi3QDBV9iuE269568XiPA1YyVxX5kzHO9MOFfZg8ihjYb8QNx5OHVk
      kZXmobv0penBsz4Zw36QyKW7/QT/dB7c1T9bNhlVYbgi2x4fGx82tTRkrBUesKQp
      llQuxO2h4wo44XB+5X2VAgMBAAGjggN8MIIDeDAfBgNVHSMEGDAWgBTyu1Xu/I/P
      0D8UaBqVfnkOqxcw9DAdBgNVHQ4EFgQUtlbzNsXPHvqON4PdLrK0AXGj3TcwDgYD
      VR0PAQH/BAQDAgWgMAwGA1UdEwEB/wQCMAAwHQYDVR0lBBYwFAYIKwYBBQUHAwEG
      CCsGAQUFBwMCMEsGA1UdIAREMEIwNgYLKwYBBAGyMQECAggwJzAlBggrBgEFBQcC
      ARYZaHR0cHM6Ly9jcHMudXNlcnRydXN0LmNvbTAIBgZngQwBAgIwUAYDVR0fBEkw
      RzBFoEOgQYY/aHR0cDovL2NybC51c2VydHJ1c3QuY29tL1RydXN0ZWRTZWN1cmVD
      ZXJ0aWZpY2F0ZUF1dGhvcml0eTUuY3JsMIGCBggrBgEFBQcBAQR2MHQwSwYIKwYB
      BQUHMAKGP2h0dHA6Ly9jcnQudXNlcnRydXN0LmNvbS9UcnVzdGVkU2VjdXJlQ2Vy
      dGlmaWNhdGVBdXRob3JpdHk1LmNydDAlBggrBgEFBQcwAYYZaHR0cDovL29jc3Au
      dXNlcnRydXN0LmNvbTCCAX4GCisGAQQB1nkCBAIEggFuBIIBagFoAHYArfe++nz/
      EMiLnT2cHj4YarRnKV3PsQwkyoWGNOvcgooAAAF/JkP8GQAABAMARzBFAiEA6gDS
      Uh0ssg9yEiZNGXCeFhzIju7paz17psX9gU0jfFkCIAFnjyddd+x894G09LuTx2p5
      ciuc4BhB+NeDQf0U5OZgAHYAejKMVNi3LbYg6jjgUh7phBZwMhOFTTvSK8E6V6NS
      61IAAAF/JkP8IAAABAMARzBFAiBmRvCig2ndoPfvcRxQlP+DUcatRCdqbEVtiy2X
      1egFQwIhALZhdb6gq8XLCb53oKiQuq+/4tEOgQ++S2QeZp0Xz4WUAHYA6D7Q2j71
      BjUy51covIlryQPTy9ERa+zraeF3fW0GvW4AAAF/JkP7+QAABAMARzBFAiB/WjTb
      vVDej4tkS8xe3u+vbZPdzYf2cBjJZC0YxSUIFgIhAJmf9GxPxVuitI2y3umgeFzi
      jbxRMfB/2IJiajSTdHt6MFMGA1UdEQRMMEqCDGdvLmJheWVyLmNvbYIRdGVzdC5n
      by5iYXllci5jb22CEHd3dy5nby5iYXllci5jb22CFXd3dy50ZXN0LmdvLmJheWVy
      LmNvbTANBgkqhkiG9w0BAQsFAAOCAQEAPU/rp10+Wz8wC0zYnVZBAEYjZ6DKqcsp
      OsFw9AAGhjQUCAGsKKzz2JQw2dTEzyR4z2n1TVUMLgxRF3ULSRqqpzIhOdxpu33S
      DAnAGBPBICFoDUJZlCjl09l6iISCyj+xRmjaJwyFdt8ih1whXV1RWSOKurjc5Sbq
      IvyirZ4ik7UcSVV3TSx7p4KPY4qp50KhWcDXa3YzVqTd9XkhNStHZ8xGnOVnOuJL
      bOUR+LgsYP8CRdrBJGWDp5dOuQT1u/sOkRpD4XuYQKtMwTebxQIbjp9QkuY3gesq
      oMxN+ZH7YwoK7+m8U5T2f5cellv865IpgcHjB/o/Uu7CaAFdonoV3g==
      -----END CERTIFICATE-----
  "/etc/pki/tls/certs/test.go.bayer.crt":
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIG5DCCBcygAwIBAgIQKvhShr+hqQZVSl63dcvEvzANBgkqhkiG9w0BAQsFADCB
      hjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkRFMRMwEQYDVQQHEwpXaWxtaW5ndG9u
      MSQwIgYDVQQKExtDb3Jwb3JhdGlvbiBTZXJ2aWNlIENvbXBhbnkxLzAtBgNVBAMT
      JlRydXN0ZWQgU2VjdXJlIENlcnRpZmljYXRlIEF1dGhvcml0eSA1MB4XDTIyMDIy
      MzAwMDAwMFoXDTIzMDIyMzIzNTk1OVowVTELMAkGA1UEBhMCREUxHDAaBgNVBAgT
      E05vcmRyaGVpbi1XZXN0ZmFsZW4xETAPBgNVBAoTCEJheWVyIEFHMRUwEwYDVQQD
      Ewxnby5iYXllci5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDI
      deyZIxohjYhQtbw2j2dydqeZ/vxN+noIQeLfx7eHS5LTGvxqHMkNagvappexDGOS
      x1dofAK03bH+duJrco3N7dxOniesCGjFfdyh1i4nuqjHydbgDxdo0lV7ZTJuZEBF
      kXjzFY5UTn22TTCYNxKx9H4loWiygJqEK5cGMPYMDzV44SYlJQI3uJXapGQzn6Mw
      TjVtgJvAKmsi3QDBV9iuE269568XiPA1YyVxX5kzHO9MOFfZg8ihjYb8QNx5OHVk
      kZXmobv0penBsz4Zw36QyKW7/QT/dB7c1T9bNhlVYbgi2x4fGx82tTRkrBUesKQp
      llQuxO2h4wo44XB+5X2VAgMBAAGjggN8MIIDeDAfBgNVHSMEGDAWgBTyu1Xu/I/P
      0D8UaBqVfnkOqxcw9DAdBgNVHQ4EFgQUtlbzNsXPHvqON4PdLrK0AXGj3TcwDgYD
      VR0PAQH/BAQDAgWgMAwGA1UdEwEB/wQCMAAwHQYDVR0lBBYwFAYIKwYBBQUHAwEG
      CCsGAQUFBwMCMEsGA1UdIAREMEIwNgYLKwYBBAGyMQECAggwJzAlBggrBgEFBQcC
      ARYZaHR0cHM6Ly9jcHMudXNlcnRydXN0LmNvbTAIBgZngQwBAgIwUAYDVR0fBEkw
      RzBFoEOgQYY/aHR0cDovL2NybC51c2VydHJ1c3QuY29tL1RydXN0ZWRTZWN1cmVD
      ZXJ0aWZpY2F0ZUF1dGhvcml0eTUuY3JsMIGCBggrBgEFBQcBAQR2MHQwSwYIKwYB
      BQUHMAKGP2h0dHA6Ly9jcnQudXNlcnRydXN0LmNvbS9UcnVzdGVkU2VjdXJlQ2Vy
      dGlmaWNhdGVBdXRob3JpdHk1LmNydDAlBggrBgEFBQcwAYYZaHR0cDovL29jc3Au
      dXNlcnRydXN0LmNvbTCCAX4GCisGAQQB1nkCBAIEggFuBIIBagFoAHYArfe++nz/
      EMiLnT2cHj4YarRnKV3PsQwkyoWGNOvcgooAAAF/JkP8GQAABAMARzBFAiEA6gDS
      Uh0ssg9yEiZNGXCeFhzIju7paz17psX9gU0jfFkCIAFnjyddd+x894G09LuTx2p5
      ciuc4BhB+NeDQf0U5OZgAHYAejKMVNi3LbYg6jjgUh7phBZwMhOFTTvSK8E6V6NS
      61IAAAF/JkP8IAAABAMARzBFAiBmRvCig2ndoPfvcRxQlP+DUcatRCdqbEVtiy2X
      1egFQwIhALZhdb6gq8XLCb53oKiQuq+/4tEOgQ++S2QeZp0Xz4WUAHYA6D7Q2j71
      BjUy51covIlryQPTy9ERa+zraeF3fW0GvW4AAAF/JkP7+QAABAMARzBFAiB/WjTb
      vVDej4tkS8xe3u+vbZPdzYf2cBjJZC0YxSUIFgIhAJmf9GxPxVuitI2y3umgeFzi
      jbxRMfB/2IJiajSTdHt6MFMGA1UdEQRMMEqCDGdvLmJheWVyLmNvbYIRdGVzdC5n
      by5iYXllci5jb22CEHd3dy5nby5iYXllci5jb22CFXd3dy50ZXN0LmdvLmJheWVy
      LmNvbTANBgkqhkiG9w0BAQsFAAOCAQEAPU/rp10+Wz8wC0zYnVZBAEYjZ6DKqcsp
      OsFw9AAGhjQUCAGsKKzz2JQw2dTEzyR4z2n1TVUMLgxRF3ULSRqqpzIhOdxpu33S
      DAnAGBPBICFoDUJZlCjl09l6iISCyj+xRmjaJwyFdt8ih1whXV1RWSOKurjc5Sbq
      IvyirZ4ik7UcSVV3TSx7p4KPY4qp50KhWcDXa3YzVqTd9XkhNStHZ8xGnOVnOuJL
      bOUR+LgsYP8CRdrBJGWDp5dOuQT1u/sOkRpD4XuYQKtMwTebxQIbjp9QkuY3gesq
      oMxN+ZH7YwoK7+m8U5T2f5cellv865IpgcHjB/o/Uu7CaAFdonoV3g==
      -----END CERTIFICATE-----
      -----BEGIN CERTIFICATE-----
      MIIGEjCCA/qgAwIBAgIRAPeCIneztajhC2LD+k4K+RwwDQYJKoZIhvcNAQEMBQAw
      gYgxCzAJBgNVBAYTAlVTMRMwEQYDVQQIEwpOZXcgSmVyc2V5MRQwEgYDVQQHEwtK
      ZXJzZXkgQ2l0eTEeMBwGA1UEChMVVGhlIFVTRVJUUlVTVCBOZXR3b3JrMS4wLAYD
      VQQDEyVVU0VSVHJ1c3QgUlNBIENlcnRpZmljYXRpb24gQXV0aG9yaXR5MB4XDTE0
      MDkxMDAwMDAwMFoXDTI0MDkwOTIzNTk1OVowgYYxCzAJBgNVBAYTAlVTMQswCQYD
      VQQIEwJERTETMBEGA1UEBxMKV2lsbWluZ3RvbjEkMCIGA1UEChMbQ29ycG9yYXRp
      b24gU2VydmljZSBDb21wYW55MS8wLQYDVQQDEyZUcnVzdGVkIFNlY3VyZSBDZXJ0
      aWZpY2F0ZSBBdXRob3JpdHkgNTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoC
      ggEBAI0GNgsj2QI1JOdYk8aNg/0JtkcQDJ8oVyVm1qosht+fd7UJuxnE+cfbrEiV
      heNHkCTUSAgHNYPAtMvTRpTW5SoXp5ywE9vstT+QEyTCh9hXe/Ix+9rHKaYiRV+H
      vfJapC9UmXHFP0V/eQPMRcS6kFjY/kLgGkpy/NmBblvAfw+BIqW7u1l+lxkJ9qOu
      SzcetveuGLsuekM9cc0bzChx5W3lc0kAbX/1KKiaByk/oMf3qHFkDf9q2KfrpY9A
      /KE4hgLdTC5hKrQrehazl7b+Epmx8G2MvsK28Vl7m1QD35vxtKHHiuDNOQdF5Ct4
      JtXfi2Kuzi1Q6bEVQymayy1DjwcCAwEAAaOCAXUwggFxMB8GA1UdIwQYMBaAFFN5
      v1qqK0rPVIDh2JvAnfKyA2bLMB0GA1UdDgQWBBTyu1Xu/I/P0D8UaBqVfnkOqxcw
      9DAOBgNVHQ8BAf8EBAMCAYYwEgYDVR0TAQH/BAgwBgEB/wIBADAdBgNVHSUEFjAU
      BggrBgEFBQcDAQYIKwYBBQUHAwIwIgYDVR0gBBswGTANBgsrBgEEAbIxAQICCDAI
      BgZngQwBAgIwUAYDVR0fBEkwRzBFoEOgQYY/aHR0cDovL2NybC51c2VydHJ1c3Qu
      Y29tL1VTRVJUcnVzdFJTQUNlcnRpZmljYXRpb25BdXRob3JpdHkuY3JsMHYGCCsG
      AQUFBwEBBGowaDA/BggrBgEFBQcwAoYzaHR0cDovL2NydC51c2VydHJ1c3QuY29t
      L1VTRVJUcnVzdFJTQUFkZFRydXN0Q0EuY3J0MCUGCCsGAQUFBzABhhlodHRwOi8v
      b2NzcC51c2VydHJ1c3QuY29tMA0GCSqGSIb3DQEBDAUAA4ICAQAGsUdhGf+feSte
      4SOKj+2XtTfw4uo5t21lm1kXoRPM/ObB8yzzuVscvwnZ8Dn8PXjQXlP3ycqtc91X
      g4i63y48TUjsrK1/d6IvWAuzMN7tkEzVbBVFWlZz9jxYMmeGhrZ5HFOIjYJRRduQ
      4jTYZFjX+cm5b8baZuS43nRqsYGARFYlsxIzUGSOITM6W0QZ7s15p6Nh7nRMGR/g
      m2qShUIzj2RDEz2XXDDTsVT9NnN7b2WhbBMmsXRxY7ERL/oZ6sZLzz7g0tdP/fOx
      geY+CWp891EqIxQLd5HYdIyGXesILMu8EaX9zMY76kbahJ0HKL//f0+S2SKDaYe7
      6APSyu1jqjfEUeaBSlPlvP5pXbygHjr/gQDVPyFzre6+Di+qZSIvcWuqo/jV2jJk
      Ixd1rieFcsdkepYyAPC5GxNzHg0eWG9N669bnSxpvVDvmEl6ztbp7gxM3ciisBQz
      OLApig0V1N+0+YUXUq5f/0lenGZ9cqN3cs0/8ClTp1p3o84ErzFhjWQCIaBTODTS
      hYvB1+z6Hf2ljqD50KHs/80KO4mQBsPZjod8rQQa2KP0W3yvCBR6Z7ZUKTGGB0FV
      Q29vl2FmGkHV80dWIIgWzkU6ajnQXygkTr46jKxNXqT+G5+FaY79d0Vpf9XNg+m1
      Kw/4P1yG/5xtH6HrU2uqz3qOmM4yWg==
      -----END CERTIFICATE-----
      -----BEGIN CERTIFICATE-----
      MIIF3jCCA8agAwIBAgIQAf1tMPyjylGoG7xkDjUDLTANBgkqhkiG9w0BAQwFADCB
      iDELMAkGA1UEBhMCVVMxEzARBgNVBAgTCk5ldyBKZXJzZXkxFDASBgNVBAcTC0pl
      cnNleSBDaXR5MR4wHAYDVQQKExVUaGUgVVNFUlRSVVNUIE5ldHdvcmsxLjAsBgNV
      BAMTJVVTRVJUcnVzdCBSU0EgQ2VydGlmaWNhdGlvbiBBdXRob3JpdHkwHhcNMTAw
      MjAxMDAwMDAwWhcNMzgwMTE4MjM1OTU5WjCBiDELMAkGA1UEBhMCVVMxEzARBgNV
      BAgTCk5ldyBKZXJzZXkxFDASBgNVBAcTC0plcnNleSBDaXR5MR4wHAYDVQQKExVU
      aGUgVVNFUlRSVVNUIE5ldHdvcmsxLjAsBgNVBAMTJVVTRVJUcnVzdCBSU0EgQ2Vy
      dGlmaWNhdGlvbiBBdXRob3JpdHkwggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIK
      AoICAQCAEmUXNg7D2wiz0KxXDXbtzSfTTK1Qg2HiqiBNCS1kCdzOiZ/MPans9s/B
      3PHTsdZ7NygRK0faOca8Ohm0X6a9fZ2jY0K2dvKpOyuR+OJv0OwWIJAJPuLodMkY
      tJHUYmTbf6MG8YgYapAiPLz+E/CHFHv25B+O1ORRxhFnRghRy4YUVD+8M/5+bJz/
      Fp0YvVGONaanZshyZ9shZrHUm3gDwFA66Mzw3LyeTP6vBZY1H1dat//O+T23LLb2
      VN3I5xI6Ta5MirdcmrS3ID3KfyI0rn47aGYBROcBTkZTmzNg95S+UzeQc0PzMsNT
      79uq/nROacdrjGCT3sTHDN/hMq7MkztReJVni+49Vv4M0GkPGw/zJSZrM233bkf6
      c0Plfg6lZrEpfDKEY1WJxA3Bk1QwGROs0303p+tdOmw1XNtB1xLaqUkL39iAigmT
      Yo61Zs8liM2EuLE/pDkP2QKe6xJMlXzzawWpXhaDzLhn4ugTncxbgtNMs+1b/97l
      c6wjOy0AvzVVdAlJ2ElYGn+SNuZRkg7zJn0cTRe8yexDJtC/QV9AqURE9JnnV4ee
      UB9XVKg+/XRjL7FQZQnmWEIuQxpMtPAlR1n6BB6T1CZGSlCBst6+eLf8ZxXhyVeE
      Hg9j1uliutZfVS7qXMYoCAQlObgOK6nyTJccBz8NUvXt7y+CDwIDAQABo0IwQDAd
      BgNVHQ4EFgQUU3m/WqorSs9UgOHYm8Cd8rIDZsswDgYDVR0PAQH/BAQDAgEGMA8G
      A1UdEwEB/wQFMAMBAf8wDQYJKoZIhvcNAQEMBQADggIBAFzUfA3P9wF9QZllDHPF
      Up/L+M+ZBn8b2kMVn54CVVeWFPFSPCeHlCjtHzoBN6J2/FNQwISbxmtOuowhT6KO
      VWKR82kV2LyI48SqC/3vqOlLVSoGIG1VeCkZ7l8wXEskEVX/JJpuXior7gtNn3/3
      ATiUFJVDBwn7YKnuHKsSjKCaXqeYalltiz8I+8jRRa8YFWSQEg9zKC7F4iRO/Fjs
      8PRF/iKz6y+O0tlFYQXBl2+odnKPi4w2r78NBc5xjeambx9spnFixdjQg3IM8WcR
      iQycE0xyNN+81XHfqnHd4blsjDwSXWXavVcStkNr/+XeTWYRUc+ZruwXtuhxkYze
      Sf7dNXGiFSeUHM9h4ya7b6NnJSFd5t0dCy5oGzuCr+yDZ4XUmFF0sbmZgIn/f3gZ
      XHlKYC6SQK5MNyosycdiyA5d9zZbyuAlJQG03RoHnHcAP9Dc1ew91Pq7P8yF1m9/
      qS3fuQL39ZeatTXaw2ewh0qpKJ4jjv9cJ2vhsE/zB+4ALtRZh8tSQZXq9EfX7mRB
      VXyNWQKV3WKdwrnuWih0hKWbt5DHDAff9Yk2dDLWKMGwsAvgnEzDHNb842m1R0aB
      L6KCq9NjRHDEjf8tM7qtj3u1cIiuPhnPQCjY/MiQu12ZIvVS5ljFH4gxQ+6IHdfG
      jjxDah2nGN59PRbxYvnKkKj9
      -----END CERTIFICATE-----



